/* styles.css */

 body {
	color: #000000;	/* black */
	font-family: Georgia, Times New Roman, Times, serif;
	margin: 0px;
	-webkit-text-size-adjust: none;
}

#content {
	background-color:rgb(242, 120, 0);
	height: 480px;
    /* position: absolute; */
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
	width: 800px;
}

#glyph {
	color:white;
	font-size: 360px;
	margin-top: -36px;
}

#occupancy {
	color:white;
	font-size: 36px;
	font-style: italic;
	margin-top: -48px;
}

#instruction {
	font-size: 24px;
	padding: 1em;
}